In [1]:
import pandas as pd
import numpy as np

def to_str(i):
    st = str(i)
    return (5-len(st))*'0' + st

lst = ['Age', 'ICULOS', 'HAT', 'Gender', 'Temp', 'qSOFA', 'PaO2/FiO2', 'SOFA_score', 'sepsis_label']
Data = pd.DataFrame(columns = lst)

for i in range(1,18001):
    filename = "training_A\p0"+to_str(i)+".csv"
    d1 = pd.read_csv(filename)
    
    output = dict()

    output['Age'] = d1['Age'][0]

    output['ICULOS'] = d1['ICULOS'][0]

    output['HR'] = d1['HR'].mean()

    output['HAT'] = d1['HospAdmTime'][0]

    output['Gender'] = d1['Gender'][0]
    
    if d1['Temp'].min()<36 or d1['Temp'].max()>38:
        output['Temp'] = 1 
    else :
        if d1['Temp'].min()!=np.NaN : 
            output['Temp'] = 0
        else: output['Temp'] = np.NaN

    if d1['Resp'].max()>22 or d1['SBP'].min()<100:
        output['qSOFA'] = 1
    else:  output['qSOFA'] = 0
    
    if d1['PaCO2'].mean()!=np.NaN and d1['FiO2'].mean()!=np.NaN :
        output['PaO2/FiO2'] = 713-((5/4)*(d1['PaCO2'].mean()/d1['FiO2'].mean()))
    else: output['PaO2/FiO2'] = np.NaN
        
    Platelets = d1['Platelets'].min()
    Bilirubin = d1['Bilirubin_total'].max()
    Creatinine = d1['Creatinine'].max()

    MAP = d1['MAP'].min()
    SOFA_score = 0
    if MAP<70:
        SOFA_score+=1

    if output['PaO2/FiO2']<100:
        SOFA_score += 1
    if output['PaO2/FiO2']<200:
        SOFA_score += 1
    if output['PaO2/FiO2']<300:
        SOFA_score += 1
    if output['PaO2/FiO2']<400:
        SOFA_score += 1

    if Bilirubin>1.2:
        SOFA_score+=1
    if Bilirubin>2:
        SOFA_score+=1
    if Bilirubin>6:
        SOFA_score+=1
    if Bilirubin>12:
        SOFA_score+=1


    if Platelets<20:
        SOFA_score+=1
    if Platelets<50:
        SOFA_score+=1
    if Platelets<100:
        SOFA_score+=1
    if Platelets<150:
        SOFA_score+=1

    if Creatinine>1.2:
        SOFA_score+=1
    if Creatinine>2:
        SOFA_score+=1
    if Creatinine>3.5:
        SOFA_score+=1
    if Creatinine>5:
        SOFA_score+=1
        
    output['SOFA_score']=SOFA_score
# old
#      if MAP!=np.NaN and MAP<70:
#         SOFA_score+=1

#     if output['PaO2/FiO2']!=np.NaN and output['PaO2/FiO2']<100:
#         SOFA_score += 1
#     if output['PaO2/FiO2']!=np.NaN and output['PaO2/FiO2']<200:
#         SOFA_score += 1
#     if output['PaO2/FiO2']!=np.NaN and output['PaO2/FiO2']<300:
#         SOFA_score += 1
#     if output['PaO2/FiO2']!=np.NaN and output['PaO2/FiO2']<400:
#         SOFA_score += 1

#     if Bilirubin!=np.NaN and Bilirubin>1.2:
#         SOFA_score+=1
#     if Bilirubin!=np.NaN and Bilirubin>2:
#         SOFA_score+=1
#     if Bilirubin!=np.NaN and Bilirubin>6:
#         SOFA_score+=1
#     if Bilirubin!=np.NaN and Bilirubin>12:
#         SOFA_score+=1


#     if Platelets!=np.NaN and Platelets<20:
#         SOFA_score+=1
#     if Platelets!=np.NaN and Platelets<50:
#         SOFA_score+=1
#     if Platelets!=np.NaN and Platelets<100:
#         SOFA_score+=1
#     if Platelets!=np.NaN and Platelets<150:
#         SOFA_score+=1

#     if Creatinine!=np.NaN and Creatinine>1.2:
#         SOFA_score+=1
#     if Creatinine!=np.NaN and Creatinine>2:
#         SOFA_score+=1
#     if Creatinine!=np.NaN and Creatinine>3.5:
#         SOFA_score+=1
#     if Creatinine!=np.NaN and Creatinine>5:
#         SOFA_score+=1

   
    if d1['SepsisLabel'].mean()>0.01:
        output['sepsis_label'] = 1
    else:
        output['sepsis_label'] = 0

    Data = Data.append(output, ignore_index = True)
    
Data

<ipython-input-1-82de50414da6>:39: RuntimeWarning: divide by zero encountered in double_scalars
  output['PaO2/FiO2'] = 713-((5/4)*(d1['PaCO2'].mean()/d1['FiO2'].mean()))

,Age,ICULOS,HAT,Gender,Temp,qSOFA,PaO2/FiO2,SOFA_score,sepsis_label,HR
0,83.14,1.0,-0.03,0.0,0.0,1.0,291.171091,3.0,0.0,101.571429
1,75.91,1.0,-98.60,0.0,0.0,1.0,NaN,3.0,0.0,60.954545
2,45.82,1.0,-1195.71,0.0,1.0,1.0,636.194444,1.0,0.0,79.611111
3,65.71,1.0,-8.77,0.0,0.0,1.0,NaN,2.0,0.0,102.444444
4,28.09,2.0,-0.05,1.0,0.0,0.0,NaN,0.0,0.0,73.916667
...,...,...,...,...,...,...,...,...,...,...
17995,68.91,1.0,-140.59,0.0,1.0,1.0,570.692308,2.0,0.0,86.742857
17996,77.46,1.0,-0.06,1.0,1.0,1.0,592.741379,1.0,0.0,93.114286
17997,42.61,4.0,-0.03,1.0,1.0,1.0,NaN,1.0,0.0,62.954545
17998,82.03,1.0,-5.75,1.0,0.0,1.0,NaN,1.0,0.0,80.000000
17999,56.81,2.0,-0.02,1.0,0.0,1.0,NaN,1.0,0.0,63.210526

In [2]:
Data = Data.drop('PaO2/FiO2', axis=1)

In [3]:
Data.head(30)

,Age,ICULOS,HAT,Gender,Temp,qSOFA,SOFA_score,sepsis_label,HR
0,83.14,1.0,-0.03,0.0,0.0,1.0,3.0,0.0,101.571429
1,75.91,1.0,-98.60,0.0,0.0,1.0,3.0,0.0,60.954545
2,45.82,1.0,-1195.71,0.0,1.0,1.0,1.0,0.0,79.611111
3,65.71,1.0,-8.77,0.0,0.0,1.0,2.0,0.0,102.444444
4,28.09,2.0,-0.05,1.0,0.0,0.0,0.0,0.0,73.916667
5,52.01,3.0,-0.03,1.0,0.0,1.0,0.0,0.0,100.000000
6,64.24,1.0,-0.05,1.0,1.0,1.0,8.0,0.0,120.363636
7,87.08,1.0,-2.23,1.0,1.0,1.0,2.0,0.0,76.342105
8,27.92,1.0,-0.03,1.0,1.0,1.0,4.0,1.0,112.647059
9,76.71,3.0,-2.36,0.0,1.0,1.0,2.0,0.0,77.043478
10,65.79,2.0,-0.02,1.0,1.0,0.0,0.0,1.0,89.121212
11,81.64,2.0,-0.03,1.0,0.0,1.0,2.0,0.0,101.500000
12,59.73,3.0,-0.03,1.0,0.0,1.0,1.0,0.0,91.131579
13,73.43,2.0,-7.05,1.0,1.0,1.0,2.0,0.0,87.833333
14,58.54,1.0,-405.34,0.0,0.0,0.0,4.0,1.0,87.769231
15,58.00,3.0,0.94,1.0,0.0,1.0,2.0,0.0,88.815789
16,45.76,1.0,-0.03,0.0,0.0,1.0,1.0,0.0,80.750000
17,39.28,1.0,-0.02,1.0,1.0,1.0,2.0,1.0,96.655303
18,46.42,1.0,-15.87,1.0,0.0,1.0,7.0,0.0,72.042553
19,64.66,2.0,-0.02,1.0,0.0,1.0,1.0,0.0,61.500000
20,87.80,1.0,-122.18,0.0,1.0,1.0,1.0,0.0,96.909091
21,77.26,5.0,-135.81,0.0,0.0,1.0,2.0,1.0,74.605263
22,35.89,1.0,-722.87,0.0,0.0,0.0,4.0,0.0,87.666667
23,70.81,1.0,-223.30,0.0,0.0,1.0,3.0,0.0,86.229167
24,43.82,1.0,-0.03,1.0,0.0,1.0,1.0,0.0,71.433333
25,63.77,1.0,-4.80,1.0,0.0,1.0,1.0,0.0,89.625000
26,47.95,2.0,0.00,0.0,0.0,1.0,1.0,0.0,73.250000
27,56.46,1.0,-90.51,0.0,0.0,1.0,3.0,1.0,92.833333
28,47.01,1.0,-158.44,0.0,0.0,1.0,1.0,0.0,86.641304
29,57.13,3.0,-44.84,1.0,1.0,1.0,2.0,0.0,75.911111

In [6]:
Data.to_csv("FinalData.csv")

In [7]:
Data.describe()

,Age,ICULOS,HAT,Gender,Temp,qSOFA,SOFA_score,sepsis_label,HR
count,18000.000000,18000.000000,17999.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,17999.000000
mean,62.574110,1.917667,-47.721365,0.582667,0.570667,0.908167,1.979722,0.087056,84.534000
std,16.266688,4.041330,138.543492,0.493133,0.494995,0.288799,1.644930,0.281924,14.151799
min,18.110000,1.000000,-3710.660000,0.000000,0.000000,0.000000,0.000000,0.000000,35.410256
25%,52.180000,1.000000,-33.290000,0.000000,0.000000,1.000000,1.000000,0.000000,74.714286
50%,64.660000,1.000000,-2.740000,1.000000,1.000000,1.000000,1.000000,0.000000,83.830000
75%,75.650000,2.000000,-0.020000,1.000000,1.000000,1.000000,3.000000,0.000000,93.538605
max,89.000000,304.000000,23.990000,1.000000,1.000000,1.000000,12.000000,1.000000,150.888889

In [8]:
Data.corr(method ='spearman')

,Age,ICULOS,HAT,Gender,Temp,qSOFA,SOFA_score,sepsis_label,HR
Age,1.000000,0.021233,-0.106682,-0.067432,0.061004,0.070599,0.166309,0.004718,-0.204252
ICULOS,0.021233,1.000000,0.006516,0.059977,0.074609,0.043007,0.049649,-0.028271,0.037621
HAT,-0.106682,0.006516,1.000000,-0.009878,-0.052432,-0.064087,-0.135967,0.002521,-0.085115
Gender,-0.067432,0.059977,-0.009878,1.000000,0.024092,-0.013596,0.070795,0.015170,-0.030896
Temp,0.061004,0.074609,-0.052432,0.024092,1.000000,0.101947,0.137052,0.093068,0.099342
qSOFA,0.070599,0.043007,-0.064087,-0.013596,0.101947,1.000000,0.128494,0.028594,0.132949
SOFA_score,0.166309,0.049649,-0.135967,0.070795,0.137052,0.128494,1.000000,0.091291,-0.001834
sepsis_label,0.004718,-0.028271,0.002521,0.015170,0.093068,0.028594,0.091291,1.000000,0.088738
HR,-0.204252,0.037621,-0.085115,-0.030896,0.099342,0.132949,-0.001834,0.088738,1.000000